USE [master]
GO
/****** Object:  Database [Papeleria_mssql]    Script Date: 05/03/2024 17:42:57 ******/
CREATE DATABASE [Papeleria_mssql]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Papeleria_mssql', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Papeleria_mssql.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Papeleria_mssql_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Papeleria_mssql_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Papeleria_mssql].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Papeleria_mssql]
GO
/****** Object:  Table [dbo].[almacenes]    Script Date: 05/03/2024 17:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[almacenes](
	[id_almacen] [int] IDENTITY(1,1) NOT NULL,
	[localizacion] [varchar](max) NULL,
	[nombre] [varchar](max) NULL,
 CONSTRAINT [PK_almacen] PRIMARY KEY CLUSTERED 
(
	[id_almacen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[articulos]    Script Date: 05/03/2024 17:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[articulos](
	[id_articulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_categoria] [int] NULL,
	[nombre_categoria] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
	[precio] [float] NULL,
	[stock] [int] NULL,
	[id_proveedor] [int] NULL,
	[id_almacen] [int] NULL,
 CONSTRAINT [PK_articulo] PRIMARY KEY CLUSTERED 
(
	[id_articulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 05/03/2024 17:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](50) NULL,
 CONSTRAINT [PK_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 05/03/2024 17:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [nvarchar](max) NULL,
	[correo] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[direccion] [nvarchar](max) NULL,
	[username] [nvarchar](50) NOT NULL,
	[contrasenaCliente] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_cliente] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lineaPedido]    Script Date: 05/03/2024 17:42:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lineaPedido](
	[id_pedido] [int] NOT NULL,
	[id_articulo] [int] NOT NULL,
	[cantidad] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[fecha_pedido] [date] NULL,
	[importe] [float] NULL,
	[estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_pedido] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[contacto] [varchar](50) NULL,
 CONSTRAINT [PK_proveedores] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuariosAdministradores]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuariosAdministradores](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[passwordAdmin] [varchar](50) NULL,
	[rol] [nchar](10) NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_articulos_almacenes] FOREIGN KEY([id_almacen])
REFERENCES [dbo].[almacenes] ([id_almacen])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_articulos_almacenes]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_articulos_categorias] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_articulos_categorias]
GO
ALTER TABLE [dbo].[articulos]  WITH CHECK ADD  CONSTRAINT [FK_articulos_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[articulos] CHECK CONSTRAINT [FK_articulos_proveedores]
GO
ALTER TABLE [dbo].[lineaPedido]  WITH CHECK ADD  CONSTRAINT [FK_lineaPedido_articulos] FOREIGN KEY([id_articulo])
REFERENCES [dbo].[articulos] ([id_articulo])
GO
ALTER TABLE [dbo].[lineaPedido] CHECK CONSTRAINT [FK_lineaPedido_articulos]
GO
ALTER TABLE [dbo].[lineaPedido]  WITH CHECK ADD  CONSTRAINT [FK_lineaPedido_pedidos] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos] ([id_pedido])
GO
ALTER TABLE [dbo].[lineaPedido] CHECK CONSTRAINT [FK_lineaPedido_pedidos]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_clientes1] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [FK_pedidos_clientes1]
GO
/****** Object:  StoredProcedure [dbo].[AlterarArticulo]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AlterarArticulo]
@id_articulo int, 
@nombre varchar(50),
@marca varchar(50),
@precio float,
@stock int,
@id_proveedor int, 
@id_categoria int,
@id_almacen int
AS
BEGIN
    DECLARE @id_proveedor_actual int;
    DECLARE @id_categoria_actual int;
    DECLARE @id_almacen_actual int;
	DECLARE @nombre_categoria varchar(50);

    SELECT @id_proveedor_actual = id_proveedor FROM proveedores WHERE id_proveedor = @id_proveedor;
    SELECT @id_categoria_actual = id_categoria FROM categorias WHERE id_categoria = @id_categoria;
    SELECT @id_almacen_actual = id_almacen FROM almacenes WHERE id_almacen = @id_almacen;
	SELECT @nombre_categoria = nombre FROM categorias WHERE id_categoria = @id_categoria_actual


    UPDATE articulos
    SET nombre = @nombre,
        marca = @marca,
        precio = @precio,
        stock = @stock,
		nombre_categoria = @nombre_categoria,
        id_proveedor = @id_proveedor_actual,
        id_categoria = @id_categoria_actual,
        id_almacen = @id_almacen_actual
    WHERE id_articulo = @id_articulo;
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarClienteporUsername]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[BuscarClienteporUsername]
	@username nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id_cliente, nombreCompleto, correo, telefono, direccion from clientes where username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[CambiarContrasena]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CambiarContrasena]
	@id_cliente int,
	@contrasenaCliente nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

   update clientes set contrasenaCliente = @contrasenaCliente where id_cliente = @id_cliente 
END
GO
/****** Object:  StoredProcedure [dbo].[cargarArticulos]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[cargarArticulos]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from articulos
END
GO
/****** Object:  StoredProcedure [dbo].[ComprobarClienteExiste]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ComprobarClienteExiste] 
	-- Add the parameters for the stored procedure here
	@username nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT count (id_cliente) from clientes where username = @username
END
GO
/****** Object:  StoredProcedure [dbo].[ComprobarUserAdminExiste]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ComprobarUserAdminExiste] 
	-- Add the parameters for the stored procedure here
	@username nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT count (id_usuario) from usuariosAdministradores where nombre = @username
END
GO
/****** Object:  StoredProcedure [dbo].[ConfiguracionCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ConfiguracionCliente]
	@id_cliente int,
	@nombreCompleto nvarchar(MAX),
	@correo nvarchar(50),
	@telefono nvarchar(50),
	@direccion nvarchar(MAX)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE clientes set nombreCompleto = @nombreCompleto, correo = @correo , telefono = @telefono, direccion = @direccion where id_cliente = @id_cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[EditarCategoria]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditarCategoria]
	@nombre varchar(50),
	@id_categoria varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE categorias
	set nombre = @nombre where id_categoria = @id_categoria;
END
GO
/****** Object:  StoredProcedure [dbo].[editarCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[editarCliente]
@id_cliente int, 
@nombreCompleto nvarchar(MAX),
@correo varchar(50),
@telefono varchar(50),
@direccion nvarchar(MAX),
@username nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
 UPDATE clientes
    SET nombreCompleto = @nombreCompleto,
        correo = @correo,
        telefono = @telefono,
        direccion = @direccion,
		username = @username 
    

    WHERE id_cliente = @id_cliente;
END
GO
/****** Object:  StoredProcedure [dbo].[EditarPedido]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EditarPedido]
	@id_pedido int,
	@nuevo_importe float
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE pedidos
	set importe = @nuevo_importe where id_pedido = @id_pedido;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarArticulo]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[eliminarArticulo]
    @Cid_articulo int
AS 
BEGIN 
DELETE
FROM   articulos
WHERE  id_articulo = @Cid_articulo
 
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarCategoria]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[eliminarCategoria]
	-- Add the parameters for the stored procedure here
	@id_categoria int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE from categorias where id_categoria = @id_categoria
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[eliminarCliente]
	-- Add the parameters for the stored procedure here
	@id_cliente int
	AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
DELETE
FROM   clientes
WHERE  id_cliente = @id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPedido]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarPedido]
	@id_pedido int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE from pedidos where id_pedido = @id_pedido;
END
GO
/****** Object:  StoredProcedure [dbo].[eliminarUsuario]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[eliminarUsuario]
@id_usuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM usuariosAdministradores where id_usuario = @id_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[EnviarPedido]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EnviarPedido]
	@id_pedido int
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    UPDATE pedidos set estado = 'enviado' where id_pedido = @id_pedido;
END
GO
/****** Object:  StoredProcedure [dbo].[FiltraPorEstado]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltraPorEstado] 
	-- Add the parameters for the stored procedure here
	@estado nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from pedidos where estado = @estado;
END
GO
/****** Object:  StoredProcedure [dbo].[FiltraPorRol]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltraPorRol]
@rol nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	   	SELECT id_usuario, nombre, rol from usuariosAdministradores where rol = @rol;
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPedidoPorIdCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPedidoPorIdCliente]
	-- Add the parameters for the stored procedure here
	@id_cliente int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from pedidos where id_cliente = @id_cliente
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorCategoria]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[FiltrarPorCategoria]
	@id_categoria int
AS
BEGIN
	
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT a.id_articulo,a.nombre, c.id_categoria,c.nombre as nombre_categoria, a.marca, a.precio, a.stock , a.id_proveedor , a.id_almacen from articulos a , categorias c where c.id_categoria = @id_categoria and c.id_categoria =a.id_categoria;
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorDirrecion]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPorDirrecion]
	@direccion nvarchar(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nombreCompleto, correo, telefono, direccion, username from clientes where direccion = '%'+ @direccion +'%'
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorMarca]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FiltrarPorMarca]

@marca varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from articulos WHERE marca = @marca;
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorNombre]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPorNombre]
	@nombre varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM articulos WHERE nombre LIKE '%' + @nombre + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorNombreCat]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPorNombreCat]
	@nombreCategoria varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from categorias where nombre LIKE '%' + @nombreCategoria + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorNombreCompletoCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPorNombreCompletoCliente] 
	@nombreCompleto nvarchar(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nombreCompleto, correo, telefono, direccion, username from clientes where nombreCompleto like '%'+  @nombreCompleto +'%'
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorTelefono]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPorTelefono]
	@telefono nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nombreCompleto, correo, telefono, direccion, username from clientes where telefono = '%'+  @telefono+ '%'
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorUserName]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPorUserName]
		@nombre varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id_usuario,  nombre, rol FROM usuariosAdministradores where nombre LIKE '%' + @nombre + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[FiltrarPorUsernameClientes]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[FiltrarPorUsernameClientes] 
	@username nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT id_cliente, nombreCompleto, correo, telefono, direccion, username from clientes where username like '%'+ @username + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[GetRole]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetRole]
	-- Add the parameters for the stored procedure here
	@username nvarchar(50)
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT rol from usuariosAdministradores where nombre =  @username
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarArticulo]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarArticulo] 
@nombre varchar(50),
@id_categoria int,
@marca varchar(50),
@precio decimal(18,2),
@stock int,
@id_proveedor int,
@id_almacen int
AS 
INSERT INTO articulos (nombre, id_categoria, marca, precio, stock, id_proveedor, id_almacen) 
VALUES (@nombre, @id_categoria, @marca, @precio, @stock, @id_proveedor, @id_almacen)

GO
/****** Object:  StoredProcedure [dbo].[GuardarCategoria]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GuardarCategoria]
	@nombre varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO categorias (nombre) VALUES (@nombre);
END
GO
/****** Object:  StoredProcedure [dbo].[insertarCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[insertarCliente]
@nombreCompleto nvarchar(MAX),
@correo nvarchar(50),
@telefono nvarchar(50),
@direccion nvarchar(MAX),
@username nvarchar(50),
@passwordclient nvarchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO clientes (nombreCompleto, correo, telefono, direccion, username, contrasenaCliente ) 
VALUES (@nombreCompleto, @correo, @telefono, @direccion, @username, @passwordclient)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarUsuarioAdmin]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertarUsuarioAdmin]
	-- Add the parameters for the stored procedure here
	@usernameAdmin varchar(50),
	@contrasenaAdmin varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

 INSERT into usuariosAdministradores 
 (nombre,passwordAdmin, rol) 
 VALUES (@usernameAdmin, @contrasenaAdmin, 'admin')

END
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[login]
	@username nvarchar(50),
	@password nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT username, contrasenaCliente FROM clientes WHERE username = @username and contrasenaCliente = @password;
END
GO
/****** Object:  StoredProcedure [dbo].[loginadmin]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[loginadmin]
	-- Add the parameters for the stored procedure here
	@username nvarchar(50),
	@password nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nombre, passwordAdmin from usuariosAdministradores where nombre =  @username
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPedidosCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPedidosCliente]
	-- Add the parameters for the stored procedure here
	@id_cliente int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from pedidos where id_cliente = @id_cliente and estado != 'carrito'
END
GO
/****** Object:  StoredProcedure [dbo].[PagarPedido]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PagarPedido]
	@id_pedido int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

  Update pedidos set estado = 'pagado' where id_pedido = @id_pedido
END
GO
/****** Object:  StoredProcedure [dbo].[pedidosTicket]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[pedidosTicket]
	@id_pedido int,
	@id_cliente int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT p.id_pedido,a.id_articulo, a.nombre, a.precio, l.cantidad
FROM pedidos p
JOIN lineaPedido l ON p.id_pedido = l.id_pedido
JOIN articulos a ON l.id_articulo = a.id_articulo
WHERE p.id_cliente = @id_cliente
AND p.id_pedido = @id_pedido
AND p.estado = 'CARRITO';
END
GO
/****** Object:  StoredProcedure [dbo].[PedirDeNuevo]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PedirDeNuevo]
	@id_pedido int
AS
BEGIN
	DECLARE 

	@id_cliente int,
	@importe float,
	@estado nvarchar(50)
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT @id_cliente = id_cliente, @importe = importe from pedidos where id_pedido = @id_pedido;

	insert into pedidos (id_cliente, fecha_pedido, importe, estado) 
	Values (@id_cliente, GETDATE(), @importe, 'pagado');
END
GO
/****** Object:  StoredProcedure [dbo].[QuitarPrivilegios]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[QuitarPrivilegios]
@id_usuario int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	    UPDATE usuariosAdministradores set rol = 'worker' where id_usuario = @id_usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterCliente]    Script Date: 05/03/2024 17:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RegisterCliente]
	-- Add the parameters for the stored procedure here
@username nvarchar(50),
@password nvarchar(50)
AS
BEGIN
    INSERT INTO clientes (nombreCompleto, correo, telefono, direccion, username, contrasenaCliente)
    VALUES ('', '', '', '', @username, @password)
END
GO
USE [master]
GO
