<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>

	<connectionStrings>
		<add name ="DatabaseConnectionString" connectionString="Data source =LAPTOP-O9JT8HFM; 
			 Initial Catalog= Papeleria_mssql; 
			 Encrypt= false; Integrated Security= true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>-->
<configuration>

	<connectionStrings>
		<add name ="DatabaseConnectionString" connectionString="Data source =LAPTOP-O9JT8HFM; 
			 Initial Catalog= Papeleria_mssql; 
			 Encrypt= false; Integrated Security= true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>
